* {
    /* border: solid red; */
}
.header-container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

#logo {
    /* flex: 5 1 auto; */
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    width: 50%;
}

.header-link-container {
    width: 40%;
    display: flex;
    justify-content: right;
}
#header-link {
    color: #E5E7EB;
    font-size: 18px;
    /* flex: 0.5 1 auto; */
    width: 30%;
    text-align: right;
}

.title-block {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: left;
    justify-content: top;
}
.title {
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    width: 70%;
    margin-bottom: -2%;
}

.title-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 5px;
}

.sign-up-button-text {
    color: #E5E7EB;
}
.header-image {
    margin-top: 5%;
    display: flex;
    background-color: grey;
    width: 40%;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.placeholder-text {
    color: #E5E7EB;
}


